*{
    margin:0px;
    padding:0px;
    box-sizing: border-box;
}

.btn{
    background-color: #30B868;
    border:none;
    padding:12px 16px;
    color:white;
    font-weight:600px;
    border-radius:4px;
    font-size:16px;
    margin-left:auto;
    
}




header{
    padding-top:16px;
}

.logo img{


        padding:16px 120px 16px 120px;
        text-align: left;

}

nav{
    width:1600px;
    height:92px;
    display:flex;
    margin:0 auto;
    align-items: center;
    
}

nav .menu {
    display:flex;
    list-style-type: none;
    gap:34px;
    justify-content: center;
    margin-left:346px;
    margin-right:346px;
    font-size:16px;
    align-items: center;    

    
}

nav .menu a{
    gap:32px;
    text-decoration: none;
    justify-content: center;
    
    
}
